.fondo {
  margin-left: 20%;
  background-image: url(images/sushi5.jpg);
  background-size: 20%;
}

.section1 {
  float: left;
  margin-bottom: 10px;
  margin-top: 4px;
  width: 25%;
  height: 200px;
  background-color: rgb(220, 110, 20);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.section2 {
  color: antiquewhite;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  text-align: left;
}

#form {
  padding-left: 0px;
  padding-top: 10px;
  color: beige;
  font-size: 20px;
  text-align: center;
}
